*
    box-sizing: border-box
html
    font-size 16px
    @media (max-width:600px)
        font-size 12px     
body
    background #F4F5FC
    font-family worksans
    font-weight 400
.wrap
    min-width: 320px
    margin 0 auto