.sing-up-strip
    width 138px
    background #5A61ED
    display flex
    align-items flex-end
    @media (max-width:600px)
        width 100%
    &__title
        font-family: ptsans
        font-size: 3.0625rem
        line-height 1.28
        letter-spacing 0.5px
        color #FFF            
        padding: 10px 22px 14px; 
        @media (min-width:601px)
            transform rotate(-90deg)
            white-space nowrap
            transform-origin 0 100%
            left 100%
            position relative    
            padding 0 22px 4px 
